body {
  margin-top: 95px;
}

/*navbar link active*/
.custom-font {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold !important;
  font-size: 1.300em;
}

.hit-the-floor {
  color: blue !important;
  font-size: 1.300em;
  font-weight: bolder;
  font-family: Helvetica;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
}

.hit-the-floor {
  text-align: center;
}

/*navbar link active*/

/*navbar link hover*/
.nav-custom {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 1.300em;
  font-weight: bolder !important;
}

.nav-custom * {
  box-sizing: border-box;
  transition: all .35s ease;
}

.nav-custom li {
  display: inline-block;
  list-style: outside none none;
  margin: .5em 1em;
  paddin: 0;
}

.nav-custom a {
  padding: .5em .8em;
  color: rgba(255, 255, 255, .5);
  position: relative;
  text-decoration: none;
  font-size: 20px;
}

.nav-custom a::before,
.nav-custom a::after {
  content: '';
  height: 14px;
  width: 14px;
  position: absolute;
  transition: all .35s ease;
  opacity: 0;
}

.nav-custom a::before {
  content: '';
  right: 0;
  top: 0;
  border-top: 3px solid #3E8914;
  border-right: 3px solid #2E640F;
  transform: translate(-100%, 50%);
}

.nav-custom a:after {
  content: '';
  left: 0;
  bottom: 0;
  border-bottom: 3px solid #2E640F;
  border-left: 3px solid #3E8914;
  transform: translate(100%, -50%)
}

.nav-custom a:hover:before,
.nav-custom a:hover:after {
  transform: translate(0, 0);
  opacity: 1;
}

.nav-custom a:hover {
  color: #3DA35D;
}

/*navbar link hover*/

/* effect-shine for link*/
a.effect-shine:hover {
  -webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, .6) 30%, #000 50%, rgba(0, 0, 0, .6) 70%);
  -webkit-mask-size: 200%;
  animation: shine 2s infinite;
  text-decoration: none;
  

}

@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }

  to {
    -webkit-mask-position: -50%;
  }
}

/*effect-shine for link*/

/* effect-shine for div*/
div.effect-shine:hover {
  -webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, .6) 30%, #000 50%, rgba(0, 0, 0, .6) 70%);
  -webkit-mask-size: 200%;
  animation: shine 2s infinite;
}

@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }

  to {
    -webkit-mask-position: -50%;
  }
}

/*effect-shine for div*/

/*Custom hover effect*/
.custom-div {
  

  margin: 0 0px 10px 0;
  width: 140px;
  height: 180px;
  background: #ffc107;
  border-radius: 25px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: lighter;
  
  transition: 1s box-shadow;
}

.custom-div:hover {
  box-shadow: 0 5px 35px 0px rgba(0, 0, 0, .1);
}

.custom-div:hover:before,
.custom-div:hover:after {
  
  content: '';
  position: absolute;
  width: 140px;
  height: 180px;
  background: rgb(0, 0, 0);
  border-radius: 25px;
  z-index: -1;
  animation: 1s clockwise infinite;
}

.custom-div:hover:after {
  background: rgb(63, 184, 16);
  animation: 2s counterclockwise infinite;
}

@keyframes clockwise {
  0% {
    top: -5px;
    left: 0;
  }

  12% {
    top: -2px;
    left: 2px;
  }

  25% {
    top: 0;
    left: 5px;
  }

  37% {
    top: 2px;
    left: 2px;
  }

  50% {
    top: 5px;
    left: 0;
  }

  62% {
    top: 2px;
    left: -2px;
  }

  75% {
    top: 0;
    left: -5px;
  }

  87% {
    top: -2px;
    left: -2px;
  }

  100% {
    top: -5px;
    left: 0;
  }
}

@keyframes counterclockwise {
  0% {
    top: -5px;
    right: 0;
  }

  12% {
    top: -2px;
    right: 2px;
  }

  25% {
    top: 0;
    right: 5px;
  }

  37% {
    top: 2px;
    right: 2px;
  }

  50% {
    top: 5px;
    right: 0;
  }

  62% {
    top: 2px;
    right: -2px;
  }

  75% {
    top: 0;
    right: -5px;
  }

  87% {
    top: -2px;
    right: -2px;
  }

  100% {
    top: -5px;
    right: 0;
  }
}

/*Custom hover effect*/


/*custom hr style*/
hr.style-seven {
  overflow: visible;
  /* For IE */
  height: 30px;
  border-style: solid;
  border-color: black;
  border-width: 1px 0 0 0;
  border-radius: 20px;
}

hr.style-seven:before {
  /* Not really supposed to work, but does */
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: black;
  border-width: 0 0 1px 0;
  border-radius: 20px;
}

/*custom hr style*/

/*navbar.html search form input focus border color*/
input.brdr:focus {
  border-color: #000;
  box-shadow: none;
  -webkit-box-shadow: none;
}

/*navbar.html search form input focus border color*/


/*effect-box*/


li .effect-box {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  position: relative;
  font-family: 'Dosis', sans-serif;
}


a.effect-box:after,
a.effect-box:before {
	content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1.3em;
  width: 100%;
  margin-top: 1px;
  opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	
}

a.effect-box:before {
  border-left: 2px solid;
  border-right: 2px solid;
  -webkit-transform: scale(1,0);
	transform: scale(1,0);
}

a.effect-box:after {
  border-bottom: 2px solid;
  border-top: 2px solid;
  -webkit-transform: scale(0,1);
	transform: scale(0,1);
}

a.effect-box:hover:after,
a.effect-box:hover:before {
  opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

/*effect-box*/

/*navbar.html margin right login register*/
.margin-logreg{
  margin: 0 27% 0 0 !important;

}
/*navbar.html margin right login register*/
