{% extends 'base.html' %}
{% block title %}{{block.super}} - About{%endblock%}
{% block content%}
<div class="container">
    <h3>About</h3><hr>
    <p>Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.
        Lorem ipsum dolor sit amet.
        Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.
        Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.
        Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.
        Lorem ipsum dolor sit amet.
        Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.
        Lorem ipsum dolor sit amet.
        
    </p>
</div>
{%endblock%}