{% load mptt_tags %}
<h3>Categories</h3>
<hr class="style-seven">
<ul>
    
    {%if categories%}
    {%recursetree categories%}
    <li class="mt-1"> {%if node.is_leaf_node %}<a href="{{node.get_absolute_url}}" class="customhover effect-shine">{{node.name}}</a>
        <span class="badge badge-dark">{{node.post_category.all|length}}</span>{%else%}{{node.name}} {%endif%}
        {%if not node.is_leaf_node%}
        <ul class="children">{{children}}</ul>
        {%endif%}
    </li>
    {%endrecursetree%}
    {%endif%}
</ul>
{%block css%}
<style>
    .customhover {
  
        color: #000;
        font-family: 'Montserrat', sans-serif;
        font-weight: bolder;
      }
      
      .customhover:hover {
        background: none;
        color: rgb(89, 83, 179);
        text-decoration: none;
      }
</style>
{%endblock%}