{% extends "base.html" %}
{%block title%} {{block.super}} - Login {%endblock%}
{% block content %}
{% load crispy_forms_tags %}
<div class="container">

    <div class="justify-content-center align-items-center" style="height:80vh;">
        <div class="col-8 col-md-8">
            <h3 class="font-weight-bold">Login</h3>
        </div>
        <div class="col-8 col-md-8 border p-3">
            {% if form.errors %}
            <p class="bg-danger p-2">Please login with your credentials.</p>
            {% endif %}

            {% if next %}
            {% if user.is_authenticated %}
            <p class="bg-warning p-1">Your account doesn't have access.</p>
            {% else %}
            <p class="bg-secondary">Please login to see this page.</p>
            {% endif %}
            {% endif %}

            <form method="post" action="{% url 'accounts:login' %}">
                {% csrf_token %}
                {{ form|crispy }}
                

                <input type="submit" class="btn btn-primary" value="Login" />
                <input type="hidden" name="next" value="{{ next }}" />
            </form>

            {# Assumes you setup the password_reset view in your URLconf #}
            <p><a href="{% url 'accounts:password_reset' %}">Lost password?</a></p>
        </div>
    </div>
</div>
{% endblock %}