{% extends "base.html" %}
{%block title%} {{block.super}} - Registration App Pass Change Done {%endblock%}
{% block content %}
  <div class="container">
      <div class="row justify-content-center align-items-center" style="height:80vh;">
          <div class="col-auto border p-3">
              Your password has been changed in succesffully.
              <script type="text/JavaScript">
                function Redirect() 
                {  
                    window.location="{%url 'home'%}"; 
                } 
                document.write("You will be redirected to home page in 5 seconds"); 
                setTimeout('Redirect()', 5000); 
           </script>
          </div>
      </div>
  </div>
{% endblock %}
